<mat-horizontal-stepper [linear]="true" #stepper>
    <mat-step [stepControl]="parentFormGroup">
      <form [formGroup]="parentFormGroup">
        <ng-template matStepLabel>Parent</ng-template>
        <div class="flex-center">
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="descriptionFormGroup">
      <form [formGroup]="descriptionFormGroup">
        <ng-template matStepLabel>Description</ng-template>
        <div class="row">
          <div class="col-xs-12 col-md-6 mx-auto">
            <mat-form-field>
              <input matInput placeholder="Name" formControlName="NameCtrl" required>
            </mat-form-field>
            <mat-form-field>
              <textarea matInput placeholder="Description" formControlName="DescriptionCtrl" required></textarea>
            </mat-form-field>
            <mat-form-field>
              <mat-select placeholder="Type" matInput formControlName="TypeCtrl" required>
                <mat-option value="type1">Type 1</mat-option>
                <mat-option value="type2">Type 2</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>        
        <pxs-form-keyvalue *ngIf="descriptionFormGroup" [parentFormGroup]="descriptionFormGroup"></pxs-form-keyvalue>  
        <p>Form value: {{ descriptionFormGroup.value | json }}</p>
        <p>Form status: {{ descriptionFormGroup.status | json }}</p>
        <div class="flex-center">
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="geolocationFormGroup">
      <form [formGroup]="geolocationFormGroup">
        <ng-template matStepLabel>Geolocation</ng-template>
        <pxs-form-geolocation *ngIf="geolocationFormGroup" [parentFormGroup]="geolocationFormGroup"></pxs-form-geolocation>
        <p>Form value: {{ geolocationFormGroup.value | json }}</p>
        <p>Form status: {{ geolocationFormGroup.status | json }}</p>
        <div class="flex-center">
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Floor plan</ng-template>
      <div class="row">
        <div class="col-xs-12 col-md-6 mx-auto">
          <pxs-editable-image (change)="floorPlan=$event"></pxs-editable-image>
        </div>
      </div>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
        <button mat-button (click)="submit()">Submit</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>