<div class="map-trail-container" [style.height.px]="height" *ngIf="location">
  <div class="center">
    <h2>{{'WALKING_TRAILS.TRAIL_POSITION' | translate}}</h2>
  </div>
  <div
    *ngIf="options"
    leaflet  
    [ngStyle]="{'height.px': height}"
    [leafletOptions]="options"
    [leafletLayers]="trailsLayer"
    [leafletMarkerCluster]="assetsLayer"
    [leafletMarkerClusterOptions]="markerClusterOptions"
    (leafletMapReady)="onMapReady($event)"
  ></div>
  <div *ngIf="selectedTrail && selectedTrail.parent" class="parent-location-container">
    <a (click)="resetMap()" *ngIf="selectedTrail.parent && selectedTrail.parent.id !== UNKNOWN_PARENT_ID">
      <pxs-icon icon="chevron-left"></pxs-icon>
      {{selectedTrail.name}}
    </a>
    <a *ngIf="selectedTrail.parent.id === UNKNOWN_PARENT_ID">
      {{selectedTrail.name}}
    </a>
  </div>
</div>

