<pxs-loader *ngIf="!item"></pxs-loader>
<div class="container" *ngIf="item">
  <div class="row">
    <div class="col-12">
      <h2>Threshold template</h2>
    </div>
    
    <div class="col-md-12">
        <mat-form-field>
          <input type="text" matInput [(ngModel)]="item.name" placeholder="Template threshold name" required>
        </mat-form-field>
    </div>
    
    <div class="col-md-12" style="display:flex; justify-content: space-between; margin-bottom: 20px;">
      <h4 style="margin: 0; padding: 0;">Sensors</h4>
      <button style="height: 40px; " mat-raised-button (click)="addSensor()">
        <pxs-icon icon="plus-o"></pxs-icon>
        Add sensor
      </button>
    </div>
    <div class="col-md-12" *ngIf="!item.sensors || !item.sensors.length">
      No sensors added yet
    </div>
    <div class="col-md-12 sensor-card" *ngFor="let sensor of item.sensors; let sensorIndex = index;">
      <mat-card>
        <mat-card-header style="display: flex; align-content: center;">
          <div class="title">
            <img [src]="'assets/smartmonitoring/images/icons/icon-'+ sensor.sensorType.name + '.svg'">
            <h5 style="margin: 0;">{{sensor.sensorType.name}}</h5>
          </div>
          <button style="margin-left: 15px;" mat-icon-button color="warn" (click)="deleteSensor(sensorIndex)">
            <pxs-icon icon="trash"></pxs-icon>
          </button>
        </mat-card-header>
        <mat-card-content>
          <div class="row threshold-row" *ngFor="let threshold of sensor.thresholds; let thresholdIndex = index;" style="margin-bottom: 30px;">
            <div class="col-md-5">
              <pxs-range-slider
                [min]="sensor.sensorType.min"
                [max]="sensor.sensorType.max"
                [startFrom]="threshold.range.from"
                [startTo]="threshold.range.to"
                [postfix]="sensor.sensorType.postfix">
              </pxs-range-slider>
            </div>
            <div class="col-md-2">
              <mat-form-field>
                <mat-select [(ngModel)]="threshold.severity" placeholder="Severity">
                  <mat-option *ngFor="let severity of severities" [value]="severity">
                    <span style="text-transform: capitalize">{{severity}}</span>
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          <div class="col-md-3">
            <div class="alerts">
              <div class="alert-type">
                <mat-checkbox [(ngModel)]="threshold.alert.notification">Alert</mat-checkbox>
              </div>
              <div class="alert-type">
                <mat-checkbox [(ngModel)]="threshold.alert.mail">Mail</mat-checkbox>
              </div>
              <div class="alert-type">
                <mat-checkbox [(ngModel)]="threshold.alert.sms">Sms</mat-checkbox>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <button color="warn" mat-icon-button (click)="deleteThreshold(sensorIndex,thresholdIndex)">
              <pxs-icon icon="trash"></pxs-icon>
            </button>
          </div>
          </div>
          <button mat-raised-button (click)="addThreshold(sensorIndex)" style="margin-top: 10px;">
            <pxs-icon icon="plus-o"></pxs-icon>
              Add threshold
          </button>
      </mat-card-content>
    </mat-card>  
  </div>
  <pxs-button *ngIf="!validateThresholdTemplate()" disabled="true" size="large" color="primary" style="margin: 15px auto;">Save the threshold template</pxs-button>
  <pxs-button *ngIf="validateThresholdTemplate()" size="large" color="primary"  (click)="save()" style="margin: 15px auto;">Save the threshold template</pxs-button>
</div>
</div>
