<div class="relative">
  <div class="form-bg not-found">
    <div class="relative error-wrapper">
      <h1>{{ 'ERRORS.HEADER' | translate }}</h1>
      <div *ngIf="errorCode === 404">
          <h2>{{ 'ERRORS.401.TITLE' | translate }}</h2>
          <div class="error-details">
            <p>{{ 'ERRORS.401.CONTENT' | translate }}</p>
          </div>
          <div class="error-actions">
            <pxs-button color="white" size="large" (click)="toHome()">
              {{ 'ERRORS.BUTTONS.BACK_HOME' | translate }}
            </pxs-button>
          </div>
      </div>
      <div *ngIf="errorCode === 401">
          <h2>{{ 'ERRORS.401.TITLE' | translate }}</h2>
          <div class="error-details">
            <p>{{ 'ERRORS.401.CONTENT' | translate }}</p>
          </div>
          <div class="error-actions">
            <pxs-button color="white" size="large" (click)="toHome()">
              {{ 'ERRORS.BUTTONS.BACK_HOME' | translate }}
            </pxs-button>
          </div>
      </div>
      <div *ngIf="errorCode === 403">
          <h2 >{{ 'ERRORS.403.TITLE' | translate }}</h2>
          <div class="error-details">
            <p>{{ 'ERRORS.403.CONTENT' | translate }}</p>
          </div>
          <div class="error-actions">
            <pxs-button color="white" size="large" (click)="logout()">
              {{ 'LAYOUT.SIGN_OUT' | translate }}
            </pxs-button>
          </div>
      </div>
      <div *ngIf="errorCode === 500">
          <h2 >{{ 'ERRORS.500.TITLE' | translate }}</h2>
          <div class="error-details">
            <p>{{ 'ERRORS.500.CONTENT' | translate }}</p>
          </div>
          <div class="error-actions">
            <pxs-button color="white" size="large" (click)="toHome()">
              {{ 'ERRORS.BUTTONS.BACK_HOME' | translate}}
            </pxs-button>
          </div>
      </div>
      
      
    </div>
  </div>
</div>