
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <pvf-trail-map 
        *ngIf="parentLocation"
        [location]="parentLocation"
        [leaf]="leaf"
        [assetUrl]="assetUrl"
      ></pvf-trail-map>
    </div>
    <div class="col-md-6 col-sm-12">
      <pvf-trail-images [leaf]="leaf"></pvf-trail-images>
      <pvf-summary-statistics *ngIf="parentLocation" [leaf]="leaf"></pvf-summary-statistics>
    </div>
  </div>
</div>
<pvf-peoplecounting-month-view [assetColors]="assetColors" [assets]="assets" [assetService]="assetService"  [assetUrl]="assetUrl"></pvf-peoplecounting-month-view>
<pvf-trails-benchmark *ngIf="parentLocation?.id !== leaf?.id" [parentLocation]="parentLocation"></pvf-trails-benchmark>
<div class="container-fluid">
  <div class="center">
    <h2>{{'WALKING_TRAIL.DISTRIBUTION_BY_ASSETS' | translate}}</h2>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <pvf-peoplecounting-count-by-asset [assetColors]="assetColors" [assetService]="assetService" *ngIf="assets" [assets]="assets" [assetUrl]="assetUrl"></pvf-peoplecounting-count-by-asset>
    </div>
    <div class="col-md-6 col-sm-12">
      <pvf-peoplecounting-assets-counter [assetService]="assetService" *ngIf="assets" [assets]="assets" [assetUrl]="assetUrl"></pvf-peoplecounting-assets-counter>
    </div>
  </div>

  <div class="center">
    <h2>{{'WALKING_TRAIL.ALL_ASSETS_TRAIL_OVERVIEW' | translate}}</h2>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-12" style="height: 300px;">
      <pxs-map *ngIf="parentLocation" [rootLocation]="parentLocation" [selectedLocation]="leaf"></pxs-map>
    </div>
    <div class="col-md-6 col-sm-12">
      <pxs-asset-explorer
        *ngIf="leaf"
        [rootLocation]="leaf"
        [searchBar]="false"
      ></pxs-asset-explorer>
    </div>
  </div>
</div>