<div class="filter-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-6 mx-auto">
          <mat-button-toggle-group (change)="listStyleOnChange($event)" [value]="listStyleValue">
            <mat-button-toggle value="map">
              <mat-icon>map</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle value="list">
              <mat-icon>list</mat-icon>
            </mat-button-toggle>
          </mat-button-toggle-group>
        </div>
      </div>
    </div>
</div>

<div class="container-fluid" *ngIf="listStyleValue === 'map'">
    <div class="row">
        <div class="col-md-12" style="min-height: 400px;">
            <pvf-peoplecountingretail-map *ngIf="rootLocation" [rootLocation]="rootLocation" (changeLocation)="changeLocation($event)" [displayAssets]="false"></pvf-peoplecountingretail-map>
        </div>
    </div>
</div>

<div class="container-fluid" *ngIf="listStyleValue === 'list'">
    <div class="row">
        <div class="col-md-12" style="min-height: 400px;">
            <pxs-location-explorer
                *ngIf="rootLocation"
                [rootLocation]="rootLocation"
                (changeLocation)="changeLocation($event)"
                [leafUrl]="leafUrl"
            ></pxs-location-explorer>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12" *ngIf="leafs?.length < 20">
            <pvf-peoplecounting-count-past-week [leafs]="lastWeekLeafs" [leafColors]="leafColors" [leafUrl]="leafUrl" (decrease)="decrease()" (increase)="increase()" [loading]="lastWeekLeafsLoading" [loadingError]="lastWeekLeafsLoadingError" (wantTryAgain)="lastWeekLeafs$.next()"></pvf-peoplecounting-count-past-week>
        </div>
        <div class="col-md-12" *ngIf="leafs?.length >= 20" style="height:400px">
            <pvf-peoplecounting-total-count-past-week [leafs]="lastWeekLeafs" [leafColors]="leafColors" [leafUrl]="leafUrl" style="height:400px" [loading]="lastWeekLeafsLoading" [loadingError]="lastWeekLeafsLoadingError" (wantTryAgain)="lastWeekLeafs$.next()"></pvf-peoplecounting-total-count-past-week>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12" style="height:400px">
            <pvf-peoplecounting-total-count-past-year [leafs]="lastYearLeafs" [leafColors]="leafColors" [leafUrl]="leafUrl" [loading]="lastYearLeafsLoading" [loadingError]="lastYearLeafsLoadingError" (wantTryAgain)="lastYearLeafs$.next()" style="height:400px"></pvf-peoplecounting-total-count-past-year>
        </div>
    </div>
</div>