<mat-horizontal-stepper [linear]="true" #stepper>
  <mat-step [stepControl]="parentFormGroup">
    <form [formGroup]="parentFormGroup">
      <ng-template matStepLabel>Parent</ng-template>
      <div class="row">
          <div class="col-xs-12 col-md-6 mx-auto">
            <pxs-map-new-location (notify)="onNotify($event)"></pxs-map-new-location>
          </div>
      </div>
      <div class="flex-center">
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="descriptionFormGroup">
    <form [formGroup]="descriptionFormGroup">
      <ng-template matStepLabel>Description</ng-template>
      <div class="row">
        <div class="col-xs-12 col-md-6 mx-auto">
          <mat-form-field>
            <input matInput placeholder="Name" formControlName="NameCtrl" required>
          </mat-form-field>
          <mat-form-field>
            <textarea matInput placeholder="Description" formControlName="DescriptionCtrl" required></textarea>
          </mat-form-field>
          <mat-form-field>
            <mat-select placeholder="Type">
              <mat-option value="type1">Type 1</mat-option>
              <mat-option value="type2">Type 2</mat-option>
            </mat-select>
          </mat-form-field>
          <h6>Key Value</h6>
        </div>
      </div>
      <div class="row" *ngFor="let keyValue of keyValues; index as i;">
        <div class="col-xs-12 col-md-6 mx-auto">
          <div class="flex-inline-container">
            <div>
              <mat-form-field class="mat-form-field-select">
                <mat-select placeholder="Select" [(value)]="keyValue[0]" formControlName="DescriptionCtrl" required>
                  <mat-option value="option1">Option 1</mat-option>
                  <mat-option value="option2">Option 2</mat-option>
                  <mat-option value="other">Other</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div *ngIf="keyValue[0] === 'other'">
              <mat-form-field>
                <input matInput placeholder="Key" formControlName="DescriptionCtrl" required>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field>
                <input matInput placeholder="Value" formControlName="DescriptionCtrl" required>
              </mat-form-field>
            </div>
            <div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-6 mx-auto">
          <button mat-fab color="primary" (click)="addKeyValue()">Add</button>
        </div>
      </div>
      <div class="flex-center">
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Geolocation</ng-template>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Floor plan</ng-template>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>