.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;

  .itemcontainer {
    position: relative;
    width: 50%;
    height: 150px;
    padding: 10px;

    > div {
      background-color: #F0F0F0;
      height: 100%;
      
      pxs-loader {
        height: 10px;
        width: 100%;
        position: relative;
        display: block;
        transform: scale(0.5);
        margin: 0 auto;
        text-align: center;
      }

      .info {
        color: darkgray;
        text-align: center;
        position: relative;
        margin: 10px;
        top: 35%;
      }
    
      .data {
        text-align: center;
        position: relative;
        top: 35%;
        margin: 0px;
        font-size: 200%;
        margin-bottom: 10px;
      }
    }
  }
  @media (max-width: 768px) {
    max-width: 100%;
    @media (max-width: 600px) {
      .itemcontainer {
        width: 100%;
      }
    }
  }
}



