<div class="container">
  <div class="row" style="margin-top: 1rem;">
    <div class="col-md-12 manage-header">
      <h1 class="pxs-title">{{'LAYOUT.MANAGE_ASSETS' | translate}}</h1>
    </div>
  </div>
  <div class="row">
      <div class="col-xs-12 col-md-6 mx-auto">
        <div class="w-100">
            <mat-form-field>
              <input 
                matInput
                type="text" 
                placeholder="Asset name"
                [(ngModel)]="filter.name"
                (ngModelChange)="filterByName()"
              >
            </mat-form-field>          
        </div>
      </div>
  </div>
  <div>

  <div>
    <div style="overflow-x: scroll">
      <table 
        mat-table [dataSource]="dataSource" 
        matSort class="mat-elevation-z8 assets-list" 
        [ngClass]="{'loading': isLoading }"
        matSortDisableClear
      >
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
          <td mat-cell *matCellDef="let element" > {{element.name}} </td>
        </ng-container>
        
        <!-- LocationType Column -->
        <ng-container matColumnDef="location.name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Location name </th>
          <td mat-cell *matCellDef="let element">{{element.location?.name}}</td>
        </ng-container>

        <!-- Threshold template -->
        <ng-container matColumnDef="thresholdTemplate.name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Threshold template </th>
            <td mat-cell *matCellDef="let element">
              <pxs-badge *ngIf="element.thresholdTemplate">{{element.thresholdTemplate?.name}}</pxs-badge>
            </td>
        </ng-container>

        <!-- Actions template -->
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button matTooltip="View asset" color="primary" routerLink="/private/smartmonitoring/detail/{{element.id}}">
                  <pxs-icon icon="eye"></pxs-icon>
                </button>
                <button *ngIf="element.module === 'PEOPLE_COUNTING_WALKING_TRAIL'" mat-icon-button matTooltip="Edit asset" color="accent"
                        routerLink="/private/walkingtrail/assets/{{element.id}}">
                  <pxs-icon icon="edit"></pxs-icon>
                </button>
                <button *ngIf="element.module === 'TANK_MONITORING'" mat-icon-button matTooltip="Edit asset" color="accent"
                        routerLink="/private/tankmonitoring/assets/{{element.id}}">
                  <pxs-icon icon="edit"></pxs-icon>
                </button>
                <button *ngIf="element.module === 'SMART_MONITORING'" mat-icon-button matTooltip="Edit asset" color="accent"
                        routerLink="/private/smartmonitoring/assets/{{element.id}}">
                  <pxs-icon icon="edit"></pxs-icon>
                </button>
                <button mat-icon-button matTooltip="Delete asset" color="warn" (click)="deleteAsset(element.id)">
                  <pxs-icon icon="trash"></pxs-icon>
                </button>
            </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>
    </div>
      <mat-card *ngIf="isLoading" style="display: flex; justify-content: center; align-items: center; border-radius: 0;">
        <mat-progress-spinner 
          color="primary" 
          mode="indeterminate">
        </mat-progress-spinner>
      </mat-card>
      <mat-paginator [length]="assets?.length"
        [pageSize]="10"
        [pageSizeOptions]="[5, 10, 25, 100]">
      </mat-paginator>
  </div>
</div>

<pxs-easter-egg *ngIf="easterEgg" (click)="easterEgg = false"></pxs-easter-egg>