.filter {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}

#day-view-chart-container{
    width: 100%;
    min-height: 340px;
    height: 100%;
    overflow: visible !important;
    > div {
        overflow: visible !important;
    }
}

:host{
    display: flex;
    flex-direction: column;
    position: relative;
}