$primary : #5C2D91;
$dark-primary : #210C3D;
$inactive : #D1BBDA;
$accent : #00BCEE;
$link : #0214C1;
$promo : #EE2E5D;
$footerColor: #45216f;

$error : #EE0707;
$success : #16AD13;
$warn : #D35400;

$default : #000;
$white : #FFF;
$grey-light: #f5f5f5;
$sub : #636363;

$table-header : $primary;
$table-header-border : darken($primary, 20%);
$table-border : #D9D9D9;
$row-bg : #F9F9F9;
$table-hover : #EEEAF4;
$page-background : #F7F7F7;

$severity-ok: #66cc00;
$severity-low: #ffcc33;
$severity-medium: #ff6600;
$severity-critical: #cc0000;
$severity-unknown: #A1A1A1;
