<div class="container-fluid">
  <div class="row">
    <div class="col-xl-7 col-md-12">
      <pvf-peoplecounting-day-view [assetColors]="assetColors" [assets]="assets" [assetService]="assetService"  [assetUrl]="assetUrl"></pvf-peoplecounting-day-view>
    </div>
    <div class="col-xl-5 col-md-12" style="display: flex; justify-content: center; align-items: center;">
     <pvf-peoplecounting-summary [leaf]="leaf" [locationService]="locationService" ></pvf-peoplecounting-summary>
    </div>
  </div>
</div>
<pvf-peoplecounting-month-view [assetColors]="assetColors" [assets]="assets" [assetService]="assetService"  [assetUrl]="assetUrl"></pvf-peoplecounting-month-view>
<pvf-peoplecounting-calendar-view [leaf]="leaf" [locationService]="locationService" style="position:relative; z-index:2;"></pvf-peoplecounting-calendar-view>
<div class="container-fluid"  style="position:relative; z-index:1;">
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <pvf-peoplecounting-count-by-asset [assetColors]="assetColors" [assetService]="assetService" *ngIf="assets" [assets]="assets" [assetUrl]="assetUrl"></pvf-peoplecounting-count-by-asset>
    </div>
    <div class="col-md-6 col-sm-12" style="position: inherit;">
      <pvf-peoplecounting-assets-counter [assetService]="assetService" *ngIf="assets" [assets]="assets" [assetUrl]="assetUrl"></pvf-peoplecounting-assets-counter>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-12" style="height: 300px;">
      <pxs-map *ngIf="leaf" [rootLocation]="leaf"></pxs-map>
    </div>
    <div class="col-md-6 col-sm-12">
      <pxs-asset-explorer
        *ngIf="leaf"
        [rootLocation]="leaf"
        [searchBar]="false"
      ></pxs-asset-explorer>
    </div>
  </div>
</div>

