<mat-horizontal-stepper [linear]="true" #stepper>
  <mat-step [completed]="selectedLocation">
    <form>
      <ng-template matStepLabel>Parent</ng-template>
      <div class="row">
        <div class="col-xs-12 col-md-6 mx-auto">
            <pxs-location-explorer (notify)="updateLocation($event)"></pxs-location-explorer>
        </div>
      </div>
      <pxs-stepper-next [completed]="selectedLocation" (next)="stepper.next()"></pxs-stepper-next>  
    </form>
  </mat-step>
  <mat-step [stepControl]="descriptionFormGroup">
    <form [formGroup]="descriptionFormGroup">
      <ng-template matStepLabel>Description</ng-template>
      <div class="row">
        <div class="col-xs-12 col-md-6 mx-auto">
          <mat-form-field>
            <input matInput placeholder="Name" formControlName="NameCtrl" required>
          </mat-form-field>
          <mat-form-field>
            <textarea matInput placeholder="Description" formControlName="DescriptionCtrl" required></textarea>
          </mat-form-field>
          <mat-form-field>
            <mat-select placeholder="Type" matInput formControlName="TypeCtrl" required>
              <mat-option value="type1">Type 1</mat-option>
              <mat-option value="type2">Type 2</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>        
      <pxs-form-keyvalue *ngIf="descriptionFormGroup" [parentFormGroup]="descriptionFormGroup"></pxs-form-keyvalue>  
      <p>Form value: {{ descriptionFormGroup.value | json }}</p>
      <p>Form status: {{ descriptionFormGroup.status | json }}</p>
      <pxs-stepper-next [formGroup]="descriptionFormGroup" (next)="stepper.next()"></pxs-stepper-next>
    </form>
  </mat-step>
  <mat-step [completed]="geolocation">
    <form>
      <ng-template matStepLabel>Geolocation</ng-template>
      <pxs-form-geolocation 
        *ngIf="selectedLocation"
        [location]="selectedLocation"
        (notify)="geolocation=$event"
      ></pxs-form-geolocation>
      <pxs-stepper-next [completed]="geolocation" (next)="stepper.next()"></pxs-stepper-next> 
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Floor plan</ng-template>
    <div class="row">
      <div class="col-xs-12 col-md-6 mx-auto">
        <pxs-editable-image (change)="floorPlan=$event"></pxs-editable-image>
      </div>
    </div>
    <div class="flex-center">
      <button mat-button (click)="submit()">Submit</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>