<mat-horizontal-stepper [linear]="true" #stepper *ngIf="location">
  <mat-step [completed]="location.parent">
    <form>
      <ng-template matStepLabel>Parent</ng-template>
      <div class="row">
        <div class="col-xs-12 col-md-6 mx-auto">
            <pxs-location-explorer
              *ngIf="canLoadLocationExplorer"
              (changeLocation)="updateLocation($event)"
              [selectedLocation]="location.parent"
              [ghostLocationId]="location.id"
            ></pxs-location-explorer>
        </div>
      </div>
      <pxs-stepper-next [completed]="location.parent" (next)="stepper.next()"></pxs-stepper-next>  
    </form>
  </mat-step>
  <mat-step [stepControl]="descriptionFormGroup">
    <form [formGroup]="descriptionFormGroup">
      <ng-template matStepLabel>Description</ng-template>
      <div class="row">
        <div class="col-xs-12 col-md-6 mx-auto">
          <mat-form-field>
            <input matInput placeholder="Name" formControlName="NameCtrl" [(ngModel)]="location.name" required>
          </mat-form-field>
          <mat-form-field>
            <textarea matInput placeholder="Description" formControlName="DescriptionCtrl" [(ngModel)]="location.description"></textarea>
          </mat-form-field>
          {{location.fields | json}}
          <pxs-form-custom-fields *ngIf="fields && fields.length > 0" [fields]="fields" [(customFields)]="location.customFields"></pxs-form-custom-fields>
        </div>
      </div>
      <pxs-stepper-next [formGroup]="descriptionFormGroup" (next)="stepper.next()"></pxs-stepper-next>
    </form>
  </mat-step>
  <mat-step [completed]="location.geolocation">
    <form>
      <ng-template matStepLabel>Geolocation</ng-template>
      <pxs-form-geolocation 
        *ngIf="location.parent && descriptionFormGroup.status === 'VALID' && stepper.selectedIndex === 2"
        [location]="location.parent"
        (notify)="location.geolocation=$event"
        [geolocation]="location.geolocation"
      ></pxs-form-geolocation>
      <pxs-stepper-next [completed]="location.geolocation" (next)="stepper.next()"></pxs-stepper-next> 
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Floor plan</ng-template>
    <div class="row">
      <div class="col-xs-12 col-md-6 mx-auto">
        <div class="location-image">
          <pxs-editable-image (change)="location.image=$event" [image]="location.image"></pxs-editable-image>
        </div>
      </div>
    </div>
    <pxs-stepper-next [completed]="location.geolocation" [text]="'Save'" [color]="'success'" (next)="submit()"></pxs-stepper-next> 
  </mat-step>
</mat-horizontal-stepper>