<pxs-top-menu *ngIf="topMenuConfig" (languageChange)="sharedLayoutService.changeLanguage($event)"
              [config]="topMenuConfig">
  <pxs-menu-item label="Proximus" (action)="navigateTo('destination')"></pxs-menu-item>
  <pxs-menu-item label="MyThings" (action)="navigateTo('destination')"></pxs-menu-item>
  <pxs-top-menu-actions>
    <pxs-menu-item [mat-menu-trigger-for]="user">
      <pxs-icon icon="user"></pxs-icon>
      <span class="visible-md-inline visible-lg-inline" [translate]="'TOP_MENU.ACCOUNT'"></span>

      <mat-menu #user="matMenu">
        <div mat-menu-item>
          Account
        </div>
        <div mat-menu-item>
          <button mat-menu-item (click)="sharedLayoutService.logout()">
            Logout
          </button>
        </div>
      </mat-menu>
    </pxs-menu-item>
    <pxs-menu-item [mat-menu-trigger-for]="admin">
      <pxs-icon icon="cog"></pxs-icon>
      <span class="visible-md-inline visible-lg-inline" [translate]="'TOP_MENU.ADMIN'"></span>

      <mat-menu #admin="matMenu">
        <div mat-menu-item>
          Admin
        </div>
        <div mat-menu-item>
          <button mat-menu-item (click)="navigateTo(['/private','admin','manage-alert-definition'])">
            Alert definition
          </button>
        </div>
        <div mat-menu-item>
          <button mat-menu-item (click)="navigateTo(['/private','admin','manage-assets'])">
            Manage assets
          </button>
        </div>
        <div mat-menu-item>
          <button mat-menu-item (click)="navigateTo(['/private','admin','manage-things'])">
            Manage things
          </button>
        </div>
        <div mat-menu-item>
          <button mat-menu-item (click)="navigateTo(['/private','admin','manage-threshold-templates'])">
            Manage threshold templates
          </button>
        </div>
      </mat-menu>
    </pxs-menu-item>
  </pxs-top-menu-actions>
</pxs-top-menu>

<pxs-main-menu>
  <pxs-menu-item [label]="'Inventory'" (action)="navigateTo(['/private/inventory'])"></pxs-menu-item>
  <pxs-menu-item [label]="'Alerts'" (action)="navigateTo(['/private/alerts'])"></pxs-menu-item>
  <pxs-menu-item [label]="'Monitoring'" *ngIf="hasFeature('monitoring')"></pxs-menu-item>
  <pxs-menu-item [label]="'Tank monitoring'" *ngIf="hasFeature('fill')"
                 [mat-menu-trigger-for]="tankMonitoring"></pxs-menu-item>
  <pxs-menu-item [label]="'Visitor counting'" *ngIf="hasFeature('counting')"
                 [mat-menu-trigger-for]="visitorCounting"></pxs-menu-item>
  <pxs-menu-item [label]="'Asset tracking'" *ngIf="hasFeature('tracking')"
                 [mat-menu-trigger-for]="assetTracking"></pxs-menu-item>
</pxs-main-menu>

<main>
  <router-outlet></router-outlet>
</main>
<mat-menu #tankMonitoring="matMenu" style="margin-top: 20px;">
  <div mat-menu-item>
    <button mat-menu-item>
      Dashboard
    </button>
  </div>
  <div mat-menu-item>
    <button mat-menu-item>
      Consumptions
    </button>
  </div>
  <div mat-menu-item>
    <button mat-menu-item>
      <pxs-icon icon="plus"></pxs-icon>
      <span style="margin-left: 10px;">New Tank</span>
    </button>
  </div>
</mat-menu>
<mat-menu #visitorCounting="matMenu" style="margin-top: 80px;">
  <div mat-menu-item>
    <button mat-menu-item>
      Dashboard
    </button>
  </div>
  <div mat-menu-item>
    <button mat-menu-item>
      Visitor counts
    </button>
  </div>
  <div mat-menu-item>
    <button mat-menu-item>
      Manage
    </button>
  </div>
</mat-menu>
<mat-menu #assetTracking="matMenu" style="margin-top: 80px;">
  <div mat-menu-item>
    <button mat-menu-item>
      Dashboard
    </button>
  </div>
  <div mat-menu-item>
    <button mat-menu-item>
      Locations
    </button>
  </div>
  <div mat-menu-item>
    <button mat-menu-item>
      <pxs-icon icon="plus"></pxs-icon>
      <span style="margin-left: 10px;">New Asset</span>
    </button>
  </div>
</mat-menu>

<pxs-footer [config]="footerConfig"></pxs-footer>
