<div class="privacy-policy">
  <div class="header">
    <h2>{{'PRIVACY_POLICY.TITLE' | translate}}</h2>
  </div>
  <div class="content">
    <div class="row">
      <div class="col-md-6">
            <p>{{'PRIVACY_POLICY.P2' |translate}}</p>
        <ul>
          <li>{{'PRIVACY_POLICY.UL.LI1' |translate}}</li>
          <li>{{'PRIVACY_POLICY.UL.LI2' |translate}}</li>
          <li>{{'PRIVACY_POLICY.UL.LI3' |translate}}</li>
          <li>{{'PRIVACY_POLICY.UL.LI4' |translate}}</li>
        </ul>

      </div>
      <div class="col-md-6">
        <p>{{'PRIVACY_POLICY.P3' |translate}}</p>

        <p>{{'PRIVACY_POLICY.P4' |translate}}</p>

        <p>{{'PRIVACY_POLICY.P5' |translate}}</p>

      </div>

    </div>
    <div class="row">
      <div class="col-md-6">
        <p>{{'PRIVACY_POLICY.P1' |translate}}</p>
      </div>
    </div>

    <div class="action">
      <p>{{'PRIVACY_POLICY.P6' |translate}} <a href="mailto:iot@proximus.com">iot@proximus.com</a></p>
    </div>
  </div>
</div>





