<div class="chart-control">
    <button mat-button (click)="swapPeriod(false)" class="swap-button">
        <pxs-icon icon="chevron-left"></pxs-icon>
    </button>
    {{ currentMonth }} 
    <button mat-button (click)="swapPeriod(true)" class="swap-button">
        <pxs-icon icon="chevron-right"></pxs-icon>
    </button>    
</div>
<div [hidden]="loadingError || chartLoading" id="month-view-chart-container"></div>
<pxs-loader *ngIf="chartLoading"></pxs-loader>
<pxs-data-error *ngIf="loadingError && !chartLoading" (tryAgain)="tryAgain()"></pxs-data-error>