<div class="container-fluid">
  <div class="row">
    <div class="col-md-7">
      <pvf-peoplecounting-day-view [assetColors]="assetColors" [assets]="assets" [assetService]="assetService"  [assetUrl]="assetUrl"></pvf-peoplecounting-day-view>
    </div>
    <div class="col-md-5">
     <pvf-peoplecounting-summary [leaf]="leaf" [locationService]="locationService"></pvf-peoplecounting-summary>
    </div>
  </div>
</div>
<pvf-peoplecounting-month-view [assetColors]="assetColors" [assets]="assets" [assetService]="assetService"  [assetUrl]="assetUrl"></pvf-peoplecounting-month-view>
<pvf-peoplecounting-calendar-view [leaf]="leaf" [locationService]="locationService"></pvf-peoplecounting-calendar-view>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <pvf-peoplecounting-count-by-asset [assetColors]="assetColors" [assetService]="assetService" *ngIf="assets" [assets]="assets" [assetUrl]="assetUrl"></pvf-peoplecounting-count-by-asset>
    </div>
    <div class="col-md-6 col-sm-12">
      <pvf-peoplecounting-assets-counter [assetService]="assetService" *ngIf="assets" [assets]="assets" [assetUrl]="assetUrl"></pvf-peoplecounting-assets-counter>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-12" style="height: 300px;">
      <pxs-map *ngIf="parentLocation" [rootLocation]="parentLocation" [selectedLocation]="leaf"></pxs-map>
    </div>
    <div class="col-md-6 col-sm-12">
      <pxs-location-explorer *ngIf="leaf" [displayAssets]="true" [rootLocation]="leaf" [customAssetService]="assetService" [searchBar]="false"></pxs-location-explorer>
    </div>
  </div>
</div>

