<div class="container-fluid">
  <div class="row">
    <div class="col-md-7">
      <pvf-peoplecountingretail-stacked-chart [leaf]="leaf"></pvf-peoplecountingretail-stacked-chart>
    </div>
    <div class="col-md-5">
     <pvf-summary [leaf]="leaf" ></pvf-summary>
    </div>
  </div>
</div>
<pvf-peoplecounting-month-view [leaf]="leaf" [assetService]="assetService"></pvf-peoplecounting-month-view>
<pvf-peoplecounting-calendar-view [leaf]="leaf" [locationService]="locationService"></pvf-peoplecounting-calendar-view>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 col-sm-12">
      <pvf-peoplecounting-count-by-asset *ngIf="leaf" [assetService]="assetService" [assets]="leaf?.assets"></pvf-peoplecounting-count-by-asset>
    </div>
    <div class="col-md-4 col-sm-12">
      <pvf-peoplecounting-assets-counter *ngIf="leaf" [leaf]="leaf" [assetService]="assetService"></pvf-peoplecounting-assets-counter>
    </div>
    <div class="col-md-4 col-sm-12" style="height: 300px;">
        <pxs-map *ngIf="parentLocation" [rootLocation]="parentLocation" [selectedLocation]="leaf"></pxs-map>
    </div>
  </div>
</div>