@import "variables.scss";

.container-fluid {
  .row {
    [class^="col"] {
      padding: 0;

      .filters {
        &:first-of-type {
          padding-top: 20px;
        }

        padding: 0 20px 0 7px;
        background-color: $grey-light;
      }
    }
  }
}


::ng-deep {
  .assets-list {
    width: 100%;

    &.loading {
      tbody[role="rowgroup"] {
        display: none;
      }
    }

    tbody[role="rowgroup"] {
      td:first-of-type {
        font-weight: 500;
        color: $primary;
      }
    }

    .mat-sort-header-button {
      overflow: hidden;
      white-space: nowrap;
    }

    .cdk-column-battery,
    .cdk-column-fill {
      span {
        &.empty {
            color: $severity-critical;
        }
        &.low {
            color: $severity-medium;
        }
        &.ok {
            color: $severity-ok;            
        }
        &.unknown {
          color: $sub;            
        }
      }
    }

    .cdk-column-actions {
      a {
        color: $primary;
      }
    }
  }
}
