<div *ngIf="sharedService.user.impersonation" class="impersonation">
  IMPERSONATING
</div>
<pxs-top-menu *ngIf="topMenuConfig" (languageChange)="layoutService.changeLanguage($event)"
  (contactClick)="navigateTo(['private', 'contact'])" (autocompleteClick)="autocompleteClick($event)"
  [searchResults]="searchResults" (search)="searchTerm$.next($event)" [config]="topMenuConfig">
  <pxs-menu-item label="Proximus" (action)="pxsClicked()"></pxs-menu-item>
  <pxs-menu-item label="MyThings" (action)="mtClicked()"></pxs-menu-item>
  <pxs-top-menu-actions>
    <pxs-menu-item [mat-menu-trigger-for]="user">
      <pxs-icon icon="user"></pxs-icon>
      <span class="visible-md-inline visible-lg-inline" [translate]="'LAYOUT.ACCOUNT'"></span>
      <mat-menu #user="matMenu">
        <div mat-menu-item class="mat-menu-header">
          {{ 'LAYOUT.ACCOUNT' | translate }}
        </div>
        <div mat-menu-item>
          <button mat-menu-item (click)="layoutService.logout()">
            {{ 'LAYOUT.SIGN_OUT' | translate }}
          </button>
        </div>
      </mat-menu>
    </pxs-menu-item>
    <pxs-menu-item [mat-menu-trigger-for]="admin" *ngIf="sharedService.user?.roles.includes('pxs:iot:localadmin')">
      <pxs-icon icon="cog"></pxs-icon>
      <span class="visible-md-inline visible-lg-inline" [translate]="'LAYOUT.ADMIN'"></span>

      <mat-menu #admin="matMenu">
        <div mat-menu-item class="mat-menu-header">
          {{ 'LAYOUT.ADMIN' | translate }}
        </div>
        <div mat-menu-item *ngIf="!layoutService.user?.hasRole('pxs:iot:location_admin')">
          <a mat-menu-item [routerLink]="['/private','admin','manage-alert-definition']"
             routerLinkActive="router-link-active">
            {{ 'LAYOUT.ALERT_DEFINITIONS' | translate }}
          </a>
        </div>
        <div mat-menu-item>
          <a mat-menu-item [routerLink]="['/private','admin','manage-locations']"
             routerLinkActive="router-link-active">
            {{ 'LAYOUT.MANAGE_LOCATIONS' | translate }}
          </a>
        </div>
        <div mat-menu-item>
          <a mat-menu-item [routerLink]="['/private','admin','manage-assets']"
             routerLinkActive="router-link-active">
            {{ 'LAYOUT.MANAGE_ASSETS' | translate }}
          </a>
        </div>
        <div mat-menu-item>
          <a mat-menu-item [routerLink]="['/private','admin','manage-things']"
             routerLinkActive="router-link-active">
            {{ 'LAYOUT.MANAGE_THINGS' | translate }}
          </a>
        </div>
        <div mat-menu-item *ngIf="!layoutService.user?.hasRole('pxs:iot:location_admin')">
          <a mat-menu-item [routerLink]="['/private','admin','manage-threshold-templates']"
             routerLinkActive="router-link-active">
            {{ 'LAYOUT.MANAGE_THRESHOLD_TEMPLATES' | translate }}
          </a>
        </div>
        <div mat-menu-item>
          <a mat-menu-item [routerLink]="['/private','admin','manage-points-of-attention']"
             routerLinkActive="router-link-active">
            {{ 'LAYOUT.MANAGE_POINTS_OF_ATTENTION' | translate }}
          </a>
        </div>
      </mat-menu>
    </pxs-menu-item>
  </pxs-top-menu-actions>
</pxs-top-menu>

<pxs-main-menu>
  <pxs-menu-item [label]="'Smart monitoring'" [url]="'/private/smart-monitoring'"
    [mat-menu-trigger-for]="smartMonitoring"></pxs-menu-item>
  <pxs-menu-item [label]="'Smart tank'" [url]="'/private/smart-tank'"
    *ngIf="layoutService.user?.hasModule('TANK_MONITORING')" [mat-menu-trigger-for]="smartTank"></pxs-menu-item>
  <pxs-menu-item [label]="'Walking trail'" *ngIf="layoutService.user?.hasModule('PEOPLE_COUNTING_WALKING_TRAIL')"
    [mat-menu-trigger-for]="walkingtrail"></pxs-menu-item>
  <pxs-menu-item [label]="'Asset tracking'" *ngIf="layoutService.user?.hasModule('PEOPLE_TRACKIN')"
    [mat-menu-trigger-for]="assetTracking"></pxs-menu-item>
  <pxs-menu-item [label]="'People counting'" [mat-menu-trigger-for]="peopleCounting" *ngIf="layoutService.user?.hasModule('PEOPLE_COUNTING_RETAIL')"></pxs-menu-item>
  <pxs-menu-item [label]="'Stairway to health'" [mat-menu-trigger-for]="stairwayToHealth" *ngIf="layoutService.user?.hasModule('PEOPLE_COUNTING_STAIRWAY_TO_HEALTH')"></pxs-menu-item>
  <pxs-menu-item [label]="'LAYOUT.ALERTS' | translate" [url]="'/private/alerts'" [badge]="{
    label: ((numberOfUnreadAlerts$ | async) > 99 ? '99+' : (numberOfUnreadAlerts$ | async)),
    class: 'red-badge'
  }"></pxs-menu-item>
</pxs-main-menu>

<main>
  <router-outlet></router-outlet>
</main>

<mat-menu #smartMonitoring="matMenu" class="main-menu-dropdown">
  <div mat-menu-item>
    <a mat-menu-item [routerLink]="['/private','smart-monitoring', 'inventory']" routerLinkActive="router-link-active">
      {{ 'LAYOUT.INVENTORY' | translate }}
    </a>
  </div>
  <div mat-menu-item *ngIf="sharedService.user?.roles.includes('pxs:iot:localadmin')" >
    <a
      mat-menu-item [routerLink]="['/private','smart-monitoring', 'assets', 'new']"
      routerLinkActive="router-link-active">
      <pxs-icon icon="plus"></pxs-icon>
      <span style="margin-left: 10px;">{{ 'ASSETS.NEW_ASSET' | translate }}</span>
    </a>
  </div>
  <div mat-menu-item>
    <a mat-menu-item [routerLink]="['/private','smart-monitoring', 'points-of-attention']"
       routerLinkActive="router-link-active">
      {{ 'POINTS_OF_ATTENTION.MY_POINTS_OF_ATTENTION' | translate }}
    </a>
  </div>
  <div mat-menu-item *ngIf="sharedService.user?.roles.includes('pxs:iot:localadmin')" >
    <a
      mat-menu-item [routerLink]="['/private','smart-monitoring', 'points-of-attention', 'point-of-attention', 'new']"
      routerLinkActive="router-link-active">
      <pxs-icon icon="plus"></pxs-icon>
      <span style="margin-left: 10px;">{{ 'POINTS_OF_ATTENTION.NEW_POINT_OF_ATTENTION' | translate }}</span>
    </a>
  </div>
</mat-menu>

<mat-menu #smartTank="matMenu" class="main-menu-dropdown">
  <div mat-menu-item>
    <a mat-menu-item [routerLink]="['/private','smart-tank', 'dashboard']" routerLinkActive="router-link-active">
      {{ 'LAYOUT.DASHBOARD' | translate }}
    </a>
  </div>
  <div mat-menu-item>
    <a mat-menu-item [routerLink]="['/private','smart-tank', 'inventory']" routerLinkActive="router-link-active">
      {{ 'SMART_TANK.TANK_INVENTORY' | translate }}
    </a>
  </div>
  <div mat-menu-item *ngIf="sharedService.user?.roles.includes('pxs:iot:localadmin')">
    <a
      mat-menu-item  [routerLink]="['/private', 'smart-tank', 'assets', 'new']"
      routerLinkActive="router-link-active">
      <pxs-icon icon="plus"></pxs-icon>
      <span style="margin-left: 10px;">{{ 'SMART_TANK.NEW_TANK' | translate }}</span>
    </a>
  </div>
</mat-menu>

<mat-menu #walkingtrail="matMenu" class="main-menu-dropdown">
  <div mat-menu-item>
    <a mat-menu-item [routerLink]="['/private','walkingtrail', 'dashboard']" routerLinkActive="router-link-active">
      {{ 'LAYOUT.DASHBOARD' | translate }}
    </a>
  </div>
  <div mat-menu-item>
    <a mat-menu-item [routerLink]="['/private','walkingtrail', 'overview']" routerLinkActive="router-link-active">
      {{ 'WALKING_TRAIL.TRAILS_OVERVIEW' | translate }}
    </a>
  </div>
  <div mat-menu-item *ngIf="sharedService.user?.roles.includes('pxs:iot:localadmin')">
    <a
      mat-menu-item [routerLink]="['/private','walkingtrail', 'trail', 'new']"
      routerLinkActive="router-link-active">
      <pxs-icon icon="plus"></pxs-icon>
      <span style="margin-left: 10px;">{{ 'WALKING_TRAIL.NEW_TRAIL' | translate }}</span>
    </a>
  </div>
</mat-menu>

<mat-menu #peopleCounting="matMenu" class="main-menu-dropdown">
  <div mat-menu-item>
    <a mat-menu-item [routerLink]="['/private','peoplecounting', 'dashboard']" routerLinkActive="router-link-active">
      {{ 'LAYOUT.DASHBOARD' | translate }}
    </a>
  </div>
  <div mat-menu-item>
    <a mat-menu-item [routerLink]="['/private','peoplecounting', 'overview']" routerLinkActive="router-link-active">
      {{ 'PEOPLE_COUNTING_RETAIL.STORES_OVERVIEW' | translate }}
    </a>
  </div>
  <div mat-menu-item *ngIf="sharedService.user?.roles.includes('pxs:iot:localadmin')">
    <a
      mat-menu-item [routerLink]="['/private','peoplecounting', 'store', 'new']"
      routerLinkActive="router-link-active">
      <pxs-icon icon="plus"></pxs-icon>
      <span style="margin-left: 10px;">{{ 'PEOPLE_COUNTING_RETAIL.NEW_STORE' | translate }}</span>
    </a>
  </div>
</mat-menu>

<mat-menu #stairwayToHealth="matMenu" class="main-menu-dropdown">
  <div mat-menu-item>
    <a mat-menu-item [routerLink]="['/private','stairwaytohealth', 'dashboard']" routerLinkActive="router-link-active">
      {{ 'LAYOUT.DASHBOARD' | translate }}
    </a>
  </div>
  <div mat-menu-item>
    <button mat-menu-item [routerLink]="['/private','stairwaytohealth', 'overview']"
            routerLinkActive="router-link-active">
      {{ 'STAIRWAY_TO_HEALTH.PLACES_OVERVIEW' | translate }}
    </button>
  </div>
  <div mat-menu-item *ngIf="sharedService.user?.roles.includes('pxs:iot:localadmin')">
    <a
      mat-menu-item [routerLink]="['/private','stairwaytohealth', 'place', 'new']"
      routerLinkActive="router-link-active">
      <pxs-icon icon="plus"></pxs-icon>
      <span style="margin-left: 10px;">{{ 'STAIRWAY_TO_HEALTH.NEW_PLACE' | translate }}</span>
    </a>
  </div>
</mat-menu>
<pxs-footer [config]="footerConfig"></pxs-footer>
