<pxs-top-menu
  *ngIf="topMenuConfig"
  (languageChange)="layoutService.changeLanguage($event)"
  (contactClick)="navigateTo(['private', 'contact'])"
  (autocompleteClick)="autocompleteClick($event)"
  [searchResults]="searchResults"
  (search)="searchTerm$.next($event)"
  [config]="topMenuConfig"
>
  <pxs-menu-item label="Proximus" (action)="pxsClicked()"></pxs-menu-item>
  <pxs-menu-item label="MyThings" (action)="mtClicked()"></pxs-menu-item>
  <pxs-top-menu-actions>
    <pxs-menu-item [mat-menu-trigger-for]="user">
      <pxs-icon icon="user"></pxs-icon>
      <span class="visible-md-inline visible-lg-inline" [translate]="'LAYOUT.ACCOUNT'"></span>
      <mat-menu #user="matMenu">
        <div mat-menu-item class="mat-menu-header">
          Account
        </div>
        <div mat-menu-item>
          <button mat-menu-item (click)="layoutService.logout()">
            Logout
          </button>
        </div>
      </mat-menu>
    </pxs-menu-item>
    <pxs-menu-item [mat-menu-trigger-for]="admin" *ngIf="sharedService.user?.roles.includes('pxs:iot:localadmin')">
      <pxs-icon icon="cog"></pxs-icon>
      <span class="visible-md-inline visible-lg-inline" [translate]="'LAYOUT.ADMIN'"></span>

      <mat-menu #admin="matMenu">
        <div mat-menu-item class="mat-menu-header">
          {{ 'LAYOUT.ADMIN' | translate }}
        </div>
        <div mat-menu-item>
          <button mat-menu-item (click)="navigateTo(['/private','admin','manage-alert-definition'])">
            {{ 'LAYOUT.ALERT_DEFINITIONS' | translate }}
          </button>
        </div>
        <div mat-menu-item>
          <button mat-menu-item (click)="navigateTo(['/private','admin','manage-locations'])">
            {{ 'LAYOUT.MANAGE_LOCATIONS' | translate }}
          </button>
        </div>
        <div mat-menu-item>
          <button mat-menu-item (click)="navigateTo(['/private','admin','manage-assets'])">
            {{ 'LAYOUT.MANAGE_ASSETS' | translate }}
          </button>
        </div>
        <div mat-menu-item>
          <button mat-menu-item (click)="navigateTo(['/private','admin','manage-things'])">
            {{ 'LAYOUT.MANAGE_THINGS' | translate }}
          </button>
        </div>
        <div mat-menu-item>
          <button mat-menu-item (click)="navigateTo(['/private','admin','manage-threshold-templates'])">
            {{ 'LAYOUT.MANAGE_THRESHOLD_TEMPLATES' | translate }}
          </button>
        </div>
        <div mat-menu-item>
          <button mat-menu-item (click)="navigateTo(['/private','admin','manage-points-of-attention'])">
            {{ 'LAYOUT.MANAGE_POINTS_OF_ATTENTION' | translate }}
          </button>
        </div>
      </mat-menu>
    </pxs-menu-item>
  </pxs-top-menu-actions>
</pxs-top-menu>

<pxs-main-menu>
  <pxs-menu-item
    [label]="'Smart monitoring'" 
    [url]="'/private/smartmonitoring'"
    [mat-menu-trigger-for]="smartMonitoring"
  ></pxs-menu-item>
  <pxs-menu-item
    [label]="'Tank monitoring'" 
    [url]="'/private/tankmonitoring'"
    *ngIf="layoutService.user?.hasModule('TANK_MONITORING')" 
    [mat-menu-trigger-for]="tankMonitoring"
  ></pxs-menu-item>
  <pxs-menu-item 
    [label]="'Walking trail'"
    *ngIf="layoutService.user?.hasModule('PEOPLE_COUNTING')"
    [mat-menu-trigger-for]="walkingtrail"
  ></pxs-menu-item>
  <pxs-menu-item
    [label]="'Asset tracking'"
    *ngIf="layoutService.user?.hasModule('PEOPLE_TRACKIN')"
    [mat-menu-trigger-for]="assetTracking"
  ></pxs-menu-item>
  <pxs-menu-item
    [label]="'People counting'"
    [mat-menu-trigger-for]="peopleCounting"
  ></pxs-menu-item>
  <pxs-menu-item [label]="'LAYOUT.ALERTS' | translate" [url]="'/private/alerts'" [badge]="{
    label: numberOfUnreadAlerts,
    class: 'red-badge'
  }"></pxs-menu-item>
</pxs-main-menu>

<main>
  <router-outlet></router-outlet>
</main>

<mat-menu #smartMonitoring="matMenu" class="main-menu-dropdown">
    <div mat-menu-item>
      <button mat-menu-item (click)="navigateTo(['/private','smartmonitoring', 'inventory'])">
        Inventory
      </button>
    </div>
    <div mat-menu-item>
      <button mat-menu-item (click)="navigateTo(['/private','smartmonitoring', 'assets', 'new'])">
        <pxs-icon icon="plus"></pxs-icon>
        <span style="margin-left: 10px;">New asset</span>
      </button>
    </div>
</mat-menu>

<mat-menu #tankMonitoring="matMenu" class="main-menu-dropdown">
  <div mat-menu-item>
    <button mat-menu-item (click)="navigateTo(['/private','tankmonitoring', 'dashboard'])">
      Dashboard
    </button>
  </div>
  <div mat-menu-item>
    <button mat-menu-item (click)="navigateTo(['/private','tankmonitoring', 'inventory'])">
      Inventory
    </button>
  </div>
  <div mat-menu-item>
    <button mat-menu-item (click)="navigateTo(['/private', 'tankmonitoring', 'assets', 'new'])">
      <pxs-icon icon="plus"></pxs-icon>
      <span style="margin-left: 10px;">New tank</span>
    </button>
  </div>
</mat-menu>

<mat-menu #walkingtrail="matMenu" class="main-menu-dropdown">
  <div mat-menu-item>
    <button mat-menu-item (click)="navigateTo(['/private','walkingtrail', 'dashboard'])">
      Dashboard
    </button>
  </div>
  <div mat-menu-item>
    <button mat-menu-item (click)="navigateTo(['/private','walkingtrail', 'inventory'])">
      Inventory
    </button>
  </div>
  <div mat-menu-item>
    <button mat-menu-item (click)="navigateTo(['/private','walkingtrail', 'trail', 'new'])">
      <pxs-icon icon="plus"></pxs-icon>
      <span style="margin-left: 10px;">New trail</span>
    </button>
  </div>

  <mat-menu #peopleCounting="matMenu" style="margin-top: 80px;">
      <div mat-menu-item>
        <button mat-menu-item (click)="navigateTo(['/private','peoplecounting', 'dashboard'])">
          Dashboard
        </button>
      </div>
      <div mat-menu-item>
        <button mat-menu-item (click)="navigateTo(['/private','peoplecounting', 'overview'])">
          Stores Overview
        </button>
      </div>
      <div mat-menu-item>
        <button mat-menu-item>
          <pxs-icon icon="plus"></pxs-icon>
          <span style="margin-left: 10px;">New Store</span>
        </button>
      </div>
</mat-menu>

<mat-menu #assetTracking="matMenu" class="main-menu-dropdown">
  <div mat-menu-item>
    <button mat-menu-item>
      Dashboard
    </button>
  </div>
  <div mat-menu-item>
    <button mat-menu-item>
      Locations
    </button>
  </div>
  <div mat-menu-item>
    <button mat-menu-item>
      <pxs-icon icon="plus"></pxs-icon>
      <span style="margin-left: 10px;">New Asset</span>
    </button>
  </div>
</mat-menu>

<pxs-footer [config]="footerConfig"></pxs-footer>
