$font-family: "pxicon" !default;
$font-path: "fonts" !default;

$icon-device-tablet: "\e012";
$icon-device-phone-at: "\e013";
$icon-device-smart-phone: "\e01a";
$icon-phone-out: "\e02c";
$icon-device-tablet-at: "\e053";
$icon-device-cellphone: "\e043";
$icon-device-desktop-at: "\e055";
$icon-devices-mobile: "\e023";
$icon-device-camera: "\e028";
$icon-device-smart-phone-at: "\e054";
$icon-device-fax: "\e024";
$icon-device-desktop-cloud: "\e05c";
$icon-phone-in: "\e05b";
$icon-device-vibrate: "\e935";
$icon-device-phone-horns: "\e634";
$icon-tv: "\e00d";
$icon-device-desktop: "\e072";
$icon-device-smart-phone-sound: "\e636";
$icon-device-tablet-3g: "\e906";
$icon-device-mobile-4g: "\e601";
$icon-device-phone-sound: "\e635";
$icon-device-smart-phone-signal: "\e623";
$icon-device-cellphone-zoomed: "\e809";
$icon-device-phone-settings: "\e945";
$icon-device-cellphone-bubbles: "\e808";
$icon-device-smart-phone-music: "\e098";
$icon-device-mobile-logo: "\e626";
$icon-remote: "\e95b";
$icon-communication: "\e066";
$icon-message-minus: "\e015";
$icon-message-arrows: "\e068";
$icon-message-important: "\e092";
$icon-message-question: "\e026";
$icon-message-sms: "\e018";
$icon-message-mms: "\e624";
$icon-cog: "\e06b";
$icon-edit: "\e06e";
$icon-wrench: "\e00a";
$icon-trash: "\e008";
$icon-refresh: "\e021";
$icon-refresh-price: "\e020";
$icon-phone: "\e00e";
$icon-clock: "\e000";
$icon-warning: "\e002";
$icon-view-360: "\e003";
$icon-video: "\e004";
$icon-pie-chart: "\e006";
$icon-arrows-double: "\e009";
$icon-price-euro: "\e00f";
$icon-employee: "\e010";
$icon-timer: "\e014";
$icon-line-chart: "\e017";
$icon-eye: "\e01c";
$icon-cart-lock: "\e01d";
$icon-search: "\e01e";
$icon-home-check: "\e025";
$icon-box: "\e029";
$icon-list: "\e02b";
$icon-apps: "\e02d";
$icon-mail: "\e03c";
$icon-star-o: "\e03d";
$icon-music: "\e03e";
$icon-box-wings: "\e03f";
$icon-document: "\e040";
$icon-box-pencil: "\e041";
$icon-cart-empty: "\e085";
$icon-home-unlock: "\e042";
$icon-timer-1600-min: "\e044";
$icon-timer-800-min: "\e045";
$icon-timer-400-min: "\e046";
$icon-timer-240-min: "\e047";
$icon-timer-120-min: "\e048";
$icon-timer-60-min: "\e049";
$icon-timer-30-min: "\e04a";
$icon-timer-15-min: "\e04b";
$icon-talk: "\e04d";
$icon-factory: "\e04e";
$icon-zoom-in: "\e04f";
$icon-lock-locked: "\e050";
$icon-globe: "\e057";
$icon-building: "\e058";
$icon-text: "\e05a";
$icon-home-o: "\e05f";
$icon-accessibility: "\e061";
$icon-present: "\e062";
$icon-gaming: "\e063";
$icon-free-shipping: "\e064";
$icon-truck-moon: "\e067";
$icon-hide: "\e069";
$icon-facebook: "\e06f";
$icon-umbrella: "\e070";
$icon-truck: "\e073";
$icon-mute: "\e074";
$icon-archive: "\e075";
$icon-trophee: "\e076";
$icon-book: "\e077";
$icon-support: "\e078";
$icon-cloud: "\e07b";
$icon-heartbeat: "\e07f";
$icon-camera-old: "\e080";
$icon-globe-signal: "\e081";
$icon-calendar-14: "\e083";
$icon-calendar-7: "\e084";
$icon-elder: "\e087";
$icon-euro: "\e088";
$icon-badge-14: "\e089";
$icon-badge: "\e08a";
$icon-chevron-up: "\e07a";
$icon-chevron-left: "\e08d";
$icon-chevron-down: "\e06a";
$icon-chevron-right: "\e08f";
$icon-calendar-date: "\e090";
$icon-browser: "\e091";
$icon-piggy-euro: "\e093";
$icon-check-o: "\e094";
$icon-user: "\e095";
$icon-map-marker: "\e09f";
$icon-sim: "\e0a1";
$icon-map-hotspot: "\e0a3";
$icon-arrow-up-o: "\e600";
$icon-double-slash: "\e604";
$icon-credit-card: "\e606";
$icon-shield: "\e607";
$icon-youtube: "\e609";
$icon-twitter: "\e60a";
$icon-close-o: "\e60b";
$icon-country-check: "\e60c";
$icon-lock-unlocked: "\e611";
$icon-wifi: "\e625";
$icon-download: "\e627";
$icon-more-circle: "\e62d";
$icon-stop: "\e62e";
$icon-warn: "\e62f";
$icon-check: "\e630";
$icon-bulb: "\e631";
$icon-birthday: "\e632";
$icon-open: "\e637";
$icon-thumb-up: "\e638";
$icon-close: "\e639";
$icon-infinite: "\e63a";
$icon-alarm: "\e63d";
$icon-device-phone-horn: "\e63e";
$icon-map-arrows: "\e640";
$icon-menu: "\e800";
$icon-logo: "\e801";
$icon-network: "\e802";
$icon-home-signal: "\e803";
$icon-euro-o: "\e804";
$icon-battery: "\e805";
$icon-government: "\e806";
$icon-bluetooth: "\e807";
$icon-book-o: "\e900";
$icon-bar: "\e905";
$icon-windmill: "\e908";
$icon-keynote: "\e909";
$icon-camera: "\e90a";
$icon-guitar: "\e90b";
$icon-microphone: "\e90c";
$icon-calendar-24-7: "\e90e";
$icon-plane: "\e90f";
$icon-car: "\e910";
$icon-hourglass: "\e911";
$icon-users: "\e912";
$icon-walk: "\e913";
$icon-train: "\e914";
$icon-heart: "\e916";
$icon-organisation: "\e917";
$icon-heart-o: "\e918";
$icon-idea: "\e919";
$icon-gauge: "\e91b";
$icon-touch: "\e91c";
$icon-building-circle: "\e91d";
$icon-document-img: "\e91e";
$icon-arrow-up: "\e920";
$icon-plus-o: "\e922";
$icon-document-arrow-left: "\e924";
$icon-remove-o: "\e925";
$icon-clipboard: "\e926";
$icon-operating-system: "\e927";
$icon-chip: "\e928";
$icon-upload: "\e92a";
$icon-cable: "\e92c";
$icon-satelite-signal: "\e92d";
$icon-box-devices: "\e92e";
$icon-router-signal: "\e92f";
$icon-image: "\e930";
$icon-minus: "\e931";
$icon-plus: "\e932";
$icon-danger: "\e933";
$icon-radio: "\e934";
$icon-power-button: "\e936";
$icon-directory: "\e937";
$icon-archives: "\e938";
$icon-down-speed: "\e939";
$icon-up-speed: "\e93a";
$icon-bill: "\e93b";
$icon-params: "\e93c";
$icon-params-remove: "\e93d";
$icon-zoom-out: "\e941";
$icon-email: "\e942";
$icon-pin: "\e943";
$icon-edit-document: "\e946";
$icon-home-price: "\e947";
$icon-cog-play: "\e948";
$icon-users-arrow: "\e949";
$icon-cookie: "\e94a";
$icon-drawer: "\e94c";
$icon-tractor: "\e94d";
$icon-sort-numeric-asc: "\e94e";
$icon-sort-numeric-desc: "\e94f";
$icon-sort-alpha-asc: "\e950";
$icon-unlink: "\e953";
$icon-link: "\e956";
$icon-quote: "\e954";
$icon-calendar-o: "\e958";
$icon-connections: "\e959";
$icon-more: "\e95a";

