<mat-horizontal-stepper #stepper [linear]="true" *ngIf="asset && asset.things">
  <mat-step [stepControl]="descriptionFormGroup">
    <form [formGroup]="descriptionFormGroup">
      <ng-template matStepLabel>{{ 'GENERAL.DESCRIPTION' | translate }}</ng-template>
      <div class="row">
        <div class="col-xs-12 col-md-6 mx-auto">
          <div class="asset-image">
            <pxs-editable-image (change)="asset.image=$event" [image]="asset.image"
              [ratio]="1" [maxWidthAndHeight]="400"></pxs-editable-image>
          </div>
          <mat-form-field>
            <input matInput [placeholder]="'GENERAL.NAME' | translate" formControlName="NameCtrl" [(ngModel)]="asset.name" required>
            <mat-error *ngIf="descriptionFormGroup.get('NameCtrl').hasError('minlength')">
              {{ 'MANAGE_ASSETS.VALIDATORS.NAME.MIN_LENGHT' | translate }}
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <textarea matInput [placeholder]="'GENERAL.DESCRIPTION' | translate" formControlName="DescriptionCtrl"
              [(ngModel)]="asset.description" maxlength="255"></textarea>
          </mat-form-field>
          <pxs-form-custom-fields *ngIf="fields && fields.length > 0" [fields]="fields" [(customFields)]="asset.customFields"></pxs-form-custom-fields>
        </div>
      </div>
      <pxs-stepper-next [showCancel]="true" (cancel)="cancelWizard()" [formGroup]="descriptionFormGroup" (next)="stepper.next()"></pxs-stepper-next>
    </form>
  </mat-step>
  <mat-step [completed]="asset.location">
    <form>
      <ng-template matStepLabel>{{ 'LAYOUT.LOCATION' | translate }}</ng-template>
      <div class="row">
        <div class="col-xs-12 col-md-6 mx-auto">
          <pxs-location-explorer
            *ngIf="displayLocationExplorer"
            [selectableLocation]="true"
            [selectedLocation]="asset.location"
            (changeLocation)="updateLocation($event)"
          ></pxs-location-explorer>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-6 mx-auto" style="text-align:center;">
          <hr>
          <button mat-button color="primary" (click)="openAddLocation()">{{ 'LOCATIONS.CREATE_NEW_LOCATION' | translate }}</button>
        </div>
      </div>
      <pxs-stepper-next [showCancel]="true" (cancel)="cancelWizard()" [completed]="asset.location" (next)="stepper.next()"></pxs-stepper-next>
    </form>
  </mat-step>
  <mat-step>
    <form>
      <ng-template matStepLabel>{{ 'LAYOUT.GEOLOCATION' | translate }}</ng-template>
      <pxs-form-geolocation
        *ngIf="asset.location && descriptionFormGroup.status === 'VALID' && stepper.selectedIndex === 2"
        [location]="asset.location" (notify)="asset.geolocation=$event" [geolocation]="asset.geolocation">
      </pxs-form-geolocation>
      <pxs-stepper-next [showCancel]="true" (cancel)="cancelWizard()" [completed]="asset.location" (next)="stepper.next()"></pxs-stepper-next>
    </form>
  </mat-step>
  <mat-step [completed]="asset.things.length > 0">
    <form>
      <ng-template matStepLabel>{{ 'LAYOUT.THINGS' | translate }}</ng-template>
      <div class="container">
        <div class="row">
          <div class="col-md-12 mx-auto">
            <pxs-list-things [selectedThings]="asset.things" (selectChange)="selectedThingsChange($event)">
            </pxs-list-things>
          </div>
        </div>
        <pxs-stepper-next [showCancel]="true" (cancel)="cancelWizard()" [completed]="asset.things.length > 0" (next)="stepper.next()"></pxs-stepper-next>
      </div>
    </form>
  </mat-step>
  <mat-step [completed]="asset.things.length > 0">
    <form>
      <ng-template matStepLabel>{{ 'LAYOUT.THRESHOLD_TEMPLATE' | translate }}</ng-template>
      <div class="container">
        <div class="row">
          <div class="col-md-12 mx-auto">
            <pxs-list-threshold-templates *ngIf="displayThresholdTemplateList"
              [selectedThresholdTemplate]="asset.thresholdTemplate" (selectChange)="asset.thresholdTemplate = $event">
            </pxs-list-threshold-templates>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-6 mx-auto" style="text-align:center;">
            <hr>
            <button mat-button color="primary" (click)="openAddThresholdTemplate()">{{ 'THRESHOLD_TEMPLATE.CREATE_NEW_THRESHOLD_TEMPLATE' | translate }}</button>
          </div>
        </div>
        <pxs-stepper-next [showCancel]="true" (cancel)="cancelWizard()" [loading]="isSavingOrUpdating" [text]="'GENERAL.SAVE' | translate" [completed]="asset.things.length" (next)="wantToSaveAsset()"></pxs-stepper-next>
      </div>
    </form>
  </mat-step>
</mat-horizontal-stepper>