<div class="container-fluid location-header">
  <h1>{{leaf?.name}}</h1>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-xl-7 col-md-12">
      <div class="center">
       <h2>{{'SMART_COUNTING.TOTAL_COUNT_PLACES' | translate}}</h2>
      </div>
      <pvf-peoplecounting-day-view [assetColors]="assetColors" [assets]="assets" [assetService]="assetService"  [assetUrl]="assetUrl"></pvf-peoplecounting-day-view>
    </div>
   <div class="col-xl-5 col-md-12">
      <div class="center">
        <h2>{{'SMART_COUNTING.STATISTICS_SUMMERY' | translate}}</h2>
      </div>
      <div style="display: flex; justify-content: center; align-items: center;">
        <pvf-peoplecounting-summary [leaf]="leaf" [locationService]="locationService"></pvf-peoplecounting-summary>
      </div>
    </div>
  </div>
</div>

<pvf-peoplecounting-month-view [assetColors]="assetColors" [assets]="assets" [assetService]="assetService"  [assetUrl]="assetUrl"></pvf-peoplecounting-month-view>

<div class="center">
  <h2>{{'SMART_COUNTING.CALENDAR_VIEW' | translate}}</h2>
</div>
<pvf-peoplecounting-calendar-view [leaf]="leaf" [locationService]="locationService" style="position:relative; z-index:2;"></pvf-peoplecounting-calendar-view>
<div class="container-fluid" style="position:relative; z-index:1;">
  
  <div class="center">
    <h2>{{'SMART_COUNTING.DISTRIBUTION_BY_ASSETS' | translate}}</h2>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-12" style="position: inherit;">
      <pvf-peoplecounting-count-by-asset [assetColors]="assetColors" [assetService]="assetService" *ngIf="assets" [assets]="assets" [assetUrl]="assetUrl"></pvf-peoplecounting-count-by-asset>
    </div>
    <div class="col-md-6 col-sm-12" style="position: inherit;">
      <pvf-peoplecounting-assets-counter [assetService]="assetService" *ngIf="assets" [assets]="assets" [assetUrl]="assetUrl"></pvf-peoplecounting-assets-counter>
    </div>
  </div>

  <div class="center">
       <h2>{{'SMART_COUNTING.ASSETS_OVERVIEW' | translate}}</h2>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-12" style="height: 300px;">
      <pxs-map *ngIf="parentLocation" [rootLocation]="parentLocation" [selectedLocation]="leaf"></pxs-map>
    </div>
    <div class="col-md-6 col-sm-12">
      <pxs-asset-explorer
        *ngIf="leaf"
        [rootLocation]="leaf"
        [searchBar]="false"
      ></pxs-asset-explorer>
    </div>
  </div>
</div>
<div class="container-fluid extra-fields-container" *ngIf="fields && leaf?.customFields?.length">
  <div class="extra-fields">
    <h2>{{'GENERAL.EXTRA_FIELDS' | translate}}</h2>
    <pxs-custom-fields [fields]="fields" [customFields]="leaf?.customFields"></pxs-custom-fields>
  </div>
</div>

