<div class="detail-page">
  <pvf-smartmonitoring-detail-header [asset]="asset"></pvf-smartmonitoring-detail-header>
  <div class="detail-main-content">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <pvf-smartmonitoring-chart
            *ngIf="asset" style="display: flex; height: 100%;" [loading]="chartLoading"
            [height]="400" [title]="'Data'" [chartData]="chartData" (updateChartData)="updateChartData($event)"
            [filter]="currentFilter" (download)="downloadPdfDetail()" [asset]="asset" #myChart>
          </pvf-smartmonitoring-chart>
        </div>
      </div>
      <div class="row" *ngIf="chartData && !chartLoading && currentFilter.interval !== 'ALL'">
        <div class="col-12">
          <pxs-aggregated-values [data]="aggregatedValues" #myAggregatedValues></pxs-aggregated-values>
        </div>
      </div>
      <div class="row" *ngIf="asset && (asset?.geolocation && asset.location || asset?.location && asset?.image)">
        <div class="col-lg-8 col-md-7">
          <pxs-map-asset *ngIf="asset?.geolocation && asset?.location" [height]="400" [assets]="[asset]"
            [imageUrl]="asset?.location?.image"></pxs-map-asset>
          <pxs-no-data *ngIf="!asset?.geolocation || !asset?.location" title="NO THRESHOLD TEMPLATE ASSOCIATE">
          </pxs-no-data>
        </div>
        <div class="col-lg-4 col-md-5">
          <div id="asset-image" [style.background-image]="'url('+asset?.image+')'"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 col-md-7">
          <pxs-threshold-templates-detail *ngIf="asset?.thresholdTemplate"
            [thresholdTemplate]="asset?.thresholdTemplate"></pxs-threshold-templates-detail>
          <pxs-no-data *ngIf="!asset?.thresholdTemplate" title="NO THRESHOLD TEMPLATE ASSOCIATE"></pxs-no-data>
        </div>
        <div class="col-lg-4 col-md-5">
          <div>
            <pxs-last-alerts *ngIf="asset?.alerts" [asset]="asset"></pxs-last-alerts>
          </div>
          <div>
            <pxs-linked-things [things]="asset?.things"></pxs-linked-things>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
