<div class="detail-page">
  <pvf-smartmonitoring-detail-header [asset]="asset"></pvf-smartmonitoring-detail-header>
  <div class="detail-main-content">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <pvf-smartmonitoring-chart
            style="display: flex; height: 100%;"
            [loading]="chartLoading"
            [height]="400"
            [title]="'Data'"
            [chartData]="chartData"
            (updateChartData)="getChartData($event)"
            [filter]="currentFilter"
            (download)="downloadPdfDetail()"
            [asset]="asset"
            #myChart
          ></pvf-smartmonitoring-chart>
        </div>
      </div>
      <div class="row" *ngIf="chartData && !chartLoading && currentFilter.durationInHours > 24">
        <div class="col-12">
          <pxs-aggregated-values [chartData]="chartData" #myAggregatedValues></pxs-aggregated-values>
        </div> 
      </div>
      <div class="row" *ngIf="asset && (asset?.geolocation && asset.location || asset?.location && asset?.image)">
        <div class="col-lg-8 col-md-7">
          <pxs-map-asset2 *ngIf="asset?.geolocation && asset?.location" [height]="400" [assets]="[asset]" [imageUrl]="asset?.location?.image"></pxs-map-asset2>
          <pxs-no-data 
            *ngIf="!asset?.geolocation || !asset?.location" 
            title="NO THRESHOLD TEMPLATE ASSOCIATE"
          ></pxs-no-data>
        </div>
        <div class="col-lg-4 col-md-5">
          <div id="asset-image" [style.background-image]="'url('+asset?.image+')'"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 col-md-7">
          <pxs-threshold-templates-detail
            *ngIf="asset?.thresholdTemplate"
            [thresholdTemplate]="asset?.thresholdTemplate"
          ></pxs-threshold-templates-detail>
          <pxs-no-data 
            *ngIf="!asset?.thresholdTemplate"
            title="NO THRESHOLD TEMPLATE ASSOCIATE"
          ></pxs-no-data>
        </div>
        <div class="col-lg-4 col-md-5">
          <div class="last-alert-container" *ngIf="lastAlert">
            <span class="last-alert-title">{{'DETAIL.LAST_ALERT.TITLE' | translate}}</span>
            <div class="last-alert-wrapper">
              <img
                [src]="'assets/smartmonitoring/images/icons/icon-'+ lastAlert?.thresholdAlert?.sensorType?.name + '-white.svg'"
                alt="">
              <div class="last-alert-content">
                <span class="last-alert-description">
                  {{'SENSORTYPES.' + lastAlert?.thresholdAlert?.sensorType?.name | translate}}
                  {{alertsService.getAlertType(lastAlert?.sensorReading?.value, lastAlert?.thresholdAlert?.high, lastAlert?.thresholdAlert?.low) | translate}}
                  <br>
                  <span class="last-alert-date">
                    {{lastAlert?.sensorReading?.timestamp | date : 'short'}}
                  </span>
                </span>
              </div>
            </div>
            <div class="last-alert-values">
              <div class="last-alert-value">
                <span>{{'DETAIL.LAST_ALERT.VALUE' | translate}}</span>
                <span>{{lastAlert?.sensorReading?.value}}{{lastAlert?.thresholdAlert?.sensorType?.postfix}}</span>
              </div>
              <div class="last-alert-value"
                   [ngClass]="{'background-error':lastAlert?.sensorReading?.value < lastAlert?.thresholdAlert?.low }">
                <span>{{'DETAIL.LAST_ALERT.LOW' | translate}}</span>
                <span>{{lastAlert?.thresholdAlert?.low}}{{lastAlert?.thresholdAlert?.sensorType?.postfix}}</span>
              </div>
              <div class="last-alert-value"
                   [ngClass]="{'background-error':lastAlert?.sensorReading?.value > lastAlert?.thresholdAlert?.low }">
                <span>{{'DETAIL.LAST_ALERT.HIGH' | translate}}</span>
                <span>{{lastAlert?.thresholdAlert?.high}}{{lastAlert?.thresholdAlert?.sensorType?.postfix}}</span>
              </div>
            </div>
            <div class="last-alert-actions" *ngIf="numberOfAlertsOfTheDay > 0">
              <mat-spinner-button (btnClick)="exportAlerts()" [options]="btnOptsExportAlerts"></mat-spinner-button>
            </div>
          </div>
          <div>
              <pxs-linked-things [things]="asset?.things"></pxs-linked-things>
          </div>
         </div>
      </div>
    </div>
  </div>
</div>
