<pxs-loader *ngIf="!thresholdTemplate"></pxs-loader>
<div class="container" *ngIf="thresholdTemplate" [formGroup]="thresholdTemplateFormGroup">
  <div class="row">
    <div class="col-12">
      <h2>Threshold template</h2>
    </div>
    <div class="col-md-12">
      <mat-form-field>
          <input matInput placeholder="Name" formControlName="name" [(ngModel)]="thresholdTemplate.name" required>
          <mat-error *ngIf="thresholdTemplateFormGroup.get('name').hasError('pattern')">
            Only alphanumeric characters are allowed
          </mat-error>
      </mat-form-field>
    </div>
    <div class="col-md-12" style="display:flex; justify-content: space-between; margin-bottom: 20px;">
      <h4 style="margin: 0; padding: 0;">Thresholds</h4>
      <button style="height: 40px; " mat-raised-button (click)="addThreshold()">
        <pxs-icon icon="plus-o"></pxs-icon>
        Add threshold
      </button>
    </div>
    <div class="col-md-12" *ngIf="!thresholdTemplate.thresholds || !thresholdTemplate.thresholds.length">
      No threshold added yet
    </div>
    <div class="col-md-12 sensor-card" *ngFor="let threshold of thresholdTemplate.thresholds;" formGroupName="threshold-{{threshold.sensorType.id}}">
      <mat-card>
        <mat-card-header style="display: flex; align-content: center;">
          <div class="title">
            <img [src]="'assets/smartmonitoring/images/icons/icon-'+ threshold.sensorType.name + '.svg'">
            <h5 style="margin: 0;">{{threshold.sensorType.name}}</h5>
          </div>
          <button style="margin-left: 15px;" mat-icon-button color="warn" (click)="deleteThreshold(threshold.sensorType.id)">
            <pxs-icon icon="trash"></pxs-icon>
          </button>
        </mat-card-header>
        <mat-card-content formGroupName="thresholdItems" *ngIf="thresholdTemplateFormGroup.get('threshold-'+threshold.sensorType.id)">
          <div class="row threshold-row" *ngFor="let thresholdItem of threshold.thresholdItems" style="margin-bottom: 30px;" formGroupName="{{thresholdItem.id}}">
            <div class="col-md-4" *ngIf="threshold.sensorType.type === 'NUMBER'">
              <pxs-range-slider
                [min]="threshold.sensorType.min"
                [max]="threshold.sensorType.max"
                [startFrom]="thresholdItem.range.from"
                [startTo]="thresholdItem.range.to"
                [postfix]="threshold.sensorType.postfix"
                (rangeChange)="changeRange(thresholdItem, $event)"
              ></pxs-range-slider>
            </div>
            <div class="col-md-4" *ngIf="threshold.sensorType.type === 'BOOLEAN'">
              <mat-slide-toggle color="primary" [(ngModel)]="thresholdItem.range.to" formControlName="boolean" required></mat-slide-toggle>
            </div>
            <div class="col-md-4" *ngIf="threshold.sensorType.type === 'COUNTER'" formGroupName="counter">
              <mat-form-field class="col-md-6">
                <input type="number" matInput placeholder="From" [(ngModel)]="thresholdItem.range.from" required formControlName="from">
              </mat-form-field>
              <mat-form-field class="col-md-6">
                <input type="number" matInput placeholder="To" [(ngModel)]="thresholdItem.range.to" required formControlName="to">
              </mat-form-field>
            </div>
            <div class="col-md-2">
              <mat-form-field>
                <mat-select [(ngModel)]="thresholdItem.severity" placeholder="Severity" required formControlName="severity">
                  <mat-option *ngFor="let severity of severities" [value]="severity">
                    <span style="text-transform: capitalize">{{severity}}</span>
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          <div class="col-md-3" formGroupName="notification">
            <div class="alerts">
              <div class="alert-type">
                <mat-checkbox [(ngModel)]="thresholdItem.notification.web" formControlName="web">Web</mat-checkbox>
              </div>
              <div class="alert-type">
                <mat-checkbox [(ngModel)]="thresholdItem.notification.mail" formControlName="mail">Mail</mat-checkbox>
              </div>
              <div class="alert-type">
                <mat-checkbox [(ngModel)]="thresholdItem.notification.sms" formControlName="sms">Sms</mat-checkbox>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <mat-form-field>
              <input type="text" matInput placeholder="Label" [(ngModel)]="thresholdItem.label" formControlName="label">
            </mat-form-field>
          </div>
          <div class="col-md-1">
            <button color="warn" mat-icon-button (click)="deletethresholdItem(threshold.sensorType.id,thresholdItem.id)">
              <pxs-icon icon="trash"></pxs-icon>
            </button>
          </div>
          </div>
          <button mat-raised-button (click)="addThresholdItem(threshold.sensorType.id)" style="margin-top: 10px;">
            <pxs-icon icon="plus-o"></pxs-icon>
              Add threshold item
          </button>
      </mat-card-content>
    </mat-card>  
  </div>
  <!--
  <p>Form value: {{ thresholdTemplateFormGroup.value | json }}</p>
  <p>Form status: {{ thresholdTemplateFormGroup.status | json }}</p>
  -->
  <pxs-button *ngIf="!thresholdTemplateFormGroup?.valid" disabled="true" size="large" color="primary" style="margin: 15px auto;">Save the threshold template</pxs-button>
  <pxs-button *ngIf="thresholdTemplateFormGroup?.valid" size="large" color="primary"  (click)="saveThresholdTemplate()" style="margin: 15px auto;">Save the threshold template</pxs-button>
</div>
</div>
