@import "~/../src/variables.scss";

.container-fluid {
    .row {
        .col {
            padding: 0;
            .filters {
                &:first-of-type {
                    padding-top: 20px;
                }
                padding: 0 20px 0 7px;
                background-color: $grey-light;
            }
        }
    }
}


::ng-deep {
    .assets-list {
        width: 100%;
        &.loading {
            tbody[role="rowgroup"]{
                display: none;
            }
        }
        tbody[role="rowgroup"]{
            td:first-of-type{
                font-weight: 500;
                color: $primary;
            }
        }

        .mat-sort-header-button {
            overflow: hidden;
            white-space: nowrap;
        }
    }       
}