<div class="filter-container">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-3 col-xs-12">
        <ng-select
          [placeholder]="'LOCATIONTYPE_SELECT.PLACEHOLDER' | translate"
          [items]="filterOptions.locationTypesOptions"
          [loading]="locationTypesLoading"
          [(ngModel)]="filter.locationType"
          (change)="onLocationTypeChange()"
          bindValue="id" bindLabel="name"
        ></ng-select>
      </div>
      <div class="col-sm-6 col-md-3 col-xs-12">
        <mat-form-field>
          <input type="text" matInput [(ngModel)]="filter.name" (change)="getPagedAssets()"
          [placeholder]="'INVENTORY.FILTER.PLACEHOLDERS.NAME' | translate">
        </mat-form-field>
      </div>
      <div class="col-sm-6 col-md-3 col-xs-12">
        <ng-select [multiple]="true"
          [clearable]="true"
          [items]="filterOptions.thresholdTemplateOptions"
          [loading]="thresholdTemplatesLoading"
          [(ngModel)]="filter.thresholdTemplates"
          [hideSelected]="true"
          (change)="getPagedAssets()"
          bindValue="id" bindLabel="name"
          [notFoundText]="'FILTER.THRESHOLD_TEMPLATES.NOT_FOUND' | translate"
          [loadingText]="'FILTER.THRESHOLD_TEMPLATES.LOADING_TEXT' | translate"
          [placeholder]="'FILTER.THRESHOLD_TEMPLATES.PLACEHOLDER' | translate">
        </ng-select>
      </div>
      <div class="col-sm-6 col-md-3 col-xs-12">
          <button mat-flat-button color="primary" (click)="showLocationExplorer=true">
            <pxs-icon icon="globe"></pxs-icon>
            Pick a location
          </button>
      </div>
    </div>
    <div class="row" *ngIf="showLocationExplorer">
      <div class="col-xs-12 col-md-6 mx-auto">
          <pxs-location-explorer 
            [locations]="filterOptions.locationsOptions"
            (notify)="updateLocation($event)"
          ></pxs-location-explorer>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row assets-list">
    <!--No Assets Found-->
    <div *ngIf="!assets.length && !assetsLoading" class="text-center col-12">
      {{'INVENTORY.NONE_FOUND' | translate}}
    </div>
    
    <!--Assets Loading--> 
    <div *ngIf="assetsLoading" class="col-12">
      <div class="assets-loading-container">
        <pxs-loader></pxs-loader>
      </div>
    </div>
    
    <!-- Asset Results -->
    <div *ngFor="let asset of assets" class="card col-sm-6 col-xs-12 col-md-4 col-lg-3 col-xl-2"
    routerLink="/private/detail/{{asset.id}}">
    <div class="wrapper" style="background: url('') center / cover no-repeat;"
    [ngStyle]="{ 'background-image': 'url(' + asset.pictureBase64 + ')'}">
    <div class="header">
      <div class="locations">
        <span class="location">{{asset.sublocation?.location?.name}} -</span>
        <span class="sublocation">{{asset.sublocation?.name}}</span>
        <small class="locationType">({{asset.sublocation?.location?.locationType?.name}})</small>
      </div>
    </div>
    <div class="data">
      <div class="content">
        <span
        class="author">{{!asset.thresholdTemplate?.isCustom ? asset.thresholdTemplate?.name : ('THRESHOLD_TEMPLATES.CUSTOM' | translate)}}</span>
        <h5 class="title"><a routerLink="/private/detail/{{asset.id}}" [matTooltip]="asset.name">{{asset.name}}</a></h5>
        <p class="text">{{asset.description}}</p>
      </div>
    </div>
  </div>
</div>
</div>

<!--Paginator -->
<mat-paginator [(length)]="totalItems"
[(pageIndex)]="page"
(page)="pageChanged($event)"
[pageSize]="pagesize"
[pageSizeOptions]="[5, 10, 25, 50, 100]">
</mat-paginator>

</div>
